.navBar {
    background-color: #005a96;
    width:100%;
    height :100px;
    position: relative;
    padding: 25px;
}

.card {
    background-color: #8080808a;
    padding : 10px;
    margin : 10px;
    width:100%;
    box-shadow: 0 8px 16px 0 rgba(8, 77, 129, 0.64), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.card_details {
    height : 100%;
}

.name {
    font-size : 25px;
    font-weight: bold;
}

.detailButton {
    color:#005a96;
    float: right;
}

img {
    border-radius : 50%;
}

container {
    margin-top:100px;
    position : absolute;
}